<style>
  @media screen and (max-width: 699px)
  {
    #body
    {
     background-repeat: repeat-y; 
     background-attachment: scroll;
    }
    
  	html, body, #container, #body
  	{
  		overflow:scroll;
  		-webkit-overflow-scrolling: touch;
  	}

    .col-sale-item 
    {
      width: 99%;
      min-height:250px;
      max-height:400px;
      overflow:scroll;
    }

    .col-hire-item 
    {
      width: 99%;
      min-height:250px;
      max-height:400px;
      overflow:scroll;
    }

    .col-package-item 
    {
      width: 99%;
      min-height:300px;
      max-height:600px;
      overflow:scroll;
    }

    .item-title
    {
    	font-size:large;
    }

    #package-item-title
    {
    	font-size:large;
    }

    #getQuote
    {
      display:none;
    }

    .nav-1
    {
      width:100%;
    }

    #nav
    {
      display: none;
    } 

    #nav-btn-container
    {
      display: block;
      padding:10px;
      padding-top: 0;
    }   

    .nav-dropdown-content
    {
      min-width: 100%;
      position:relative;
    }

    #profile-pic
    {
      width:100%;
    }

    #profile-blurb
    {
      width:100%;
    }

    #logo
    {
      width:40%;
    }

    #logo-text
    {
      width:50%;
      padding:0;
      padding-top: 30px;
    }

    #tagline
    {
      display:block;
    }

    .nav-btn-1
    {
      text-align:left;
      padding-left:11%;
    }

    .nav-btn-2
    {
      text-align:left;
      padding-left:21%;
    }
  }
</style> 